/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg,
label,
input,
span {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/*My CSS*/

:root {
  --general-margin-left: 3vw;
  --general-font-size: 3vh;
}

#main {
  display: flex;
  background-color: rgb(245, 245, 245);
}

#photo {
  width: 33vw;
  height: 100vh;
  background-image: url(./img/porsche.jpg);
  background-size: cover;
}

#logo {
  font-family: K2D;
  font-size: 5vh;
  background-color: red;
  margin-top: 33vh;
  text-align: center;
}

#photo-footer {
  background-color: violet;
  position: absolute;
  bottom: 0;
  width: 33vw;
  text-align: center;
  font-size: var(--general-font-size);
}

#form {
  height: 100%;
  width: 66%;
  margin: 8vh 0;
}

.dummy-text {
  margin: 0 var(--general-margin-left);
  width: 50vw;
  font-size: var(--general-font-size);
  font-family: K2D;
  background-color: blue;
}

#dummy-bottom {
  margin-top: 3vh ;
}

#form-card {
  margin: 0 var(--general-margin-left);
  background-color: rgb(182, 182, 182);
  margin-top: 5vh;
}

#form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw 5vw;
  width: 50vw;
}

#form-title {
  font-size: var(--general-font-size);
  font-family: K2D;
  margin-bottom: 3vh;
}

.form-element {
  background-color: red;
  font-size: var(--general-font-size);
}

button {
  margin: 3vh var(--general-margin-left);
}

span {
  margin: 0 var(--general-margin-left);
}