/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg,
label,
input,
span {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/*My CSS*/

:root {
  --general-margin-left: 3vw;
  --general-font-size: 2.8vh;
  --two-thirds:calc(100vw * 2 / 3);
  --one-third:calc(100vw / 3);
  --color-white:rgb(236, 236, 236);
}

#main {
  display: flex;
  background-color: rgb(6, 41, 66);
  font-family: K2D, Arial, Helvetica, sans-serif;
  font-size: var(--general-font-size);
}

#photo {
  width: var(--one-third);
  height: 100vh;
  background-image: url(./img/porsche.jpg);
  background-size: cover;
}

#logo {
  font-size: 6vh;
  color: var(--color-white);
  background-color: rgba(6, 41, 66, 0.815);
  margin-top: 17vh;
  text-align: center;
}

#photo-footer {
  background-color: rgba(6, 41, 66, 0.432);
  color: var(--color-white);
  font-size: 2vh;
  position: absolute;
  bottom: 0;
  width: var(--one-third);
  text-align: center;
}

#form {
  height: 100%;
  width: var(--two-thirds);
  margin: auto;
  align-items: center;
}

.dummy-text {
  margin-left: var(--general-margin-left);
  width: 50vw;
  color: var(--color-white);
}

#dummy-bottom {
  margin-top: 3vh ;
}

#form-card {
  width: var(--two-thirds);
  margin: 5vh 0;
  background-color: var(--color-white);
  padding: 3vh 0;
}

#form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw 5vw;
  width: 50vw;
}

#form-title {
  margin-left: var(--general-margin-left);
  margin-bottom: 3vh;
}

.form-element {
  margin-left: var(--general-margin-left);
}

.invalid-message {
  display: none;
}

button {
  margin: 0 var(--general-margin-left);
  padding: 2vh 5vh;
  border-radius: 10px;
  border: 0;
}

span {
  margin: 3vh var(--general-margin-left);
  color: var(--color-white);
}

a {
  color: var(--color-white);
}